[2022-08-05 11:44] jcolladosp commented on #1968
Hi @tushar1998 ,
I'm starting to work on the PR.
Where do you think I should add the new parameter to specify the path name for the json?

Thanks

[2022-08-05 17:57] tushar1998 commented on #1968
Hi @jcolladosp,
If you look closely `serveDocuments` private method is reponsible to serve json and yaml output
And `SwaggerModule.setup()` calls serverDocuments so `SwaggerCustomOptions` would be the answer

[2022-08-05 19:05] jcolladosp commented on #1968
HI @tushar1998, thanks for the answer.
I also tought that `SwaggerCustomOptions` should be the right place, but later I saw in the [documentation](https://docs.nestjs.com/openapi/introduction#setup-options) that these are custom options for Swagger UI, so I'm not sure if it's the place

Best regards,
Jose

[2022-08-06 09:32] rubiin commented on #1563
having this problem:
![](https://i.imgur.com/utzOs7H.png)

[2022-08-06 09:32] rubiin commented on #1563
If I comment the setting swagger line, the app works fine. Seems like a dependency collision

[2022-08-06 14:42] micalevisk commented on #1563
@rubiin can you share a minimum reproduction of that?

# [why reproductions are required](https://antfu.me/posts/why-reproductions-are-required)

[2022-08-06 14:48] rubiin commented on #1563
Yeah. I will try to provide a minimal reproduction asap

[2022-08-08 17:51] rubiin commented on #1563
@micalevisk here is a reproduction https://github.com/rubiin/nest-swagger-bug

[2022-08-08 17:58] rubiin commented on #1563
Also i noted

[code]

Doing this does not produce any error . However on other cases swagger plugin tries to introspect the `ObjectId` type and thats when `bson/bson` lib collision occurs

[2022-08-08 21:53] julianklumpers commented on #1828
@jarpoole

Nope, that approach does not work anymore. You can use this now instead.

[code]

[https://swagger.io/docs/open-source-tools/swagger-ui/usage/oauth2/](https://swagger.io/docs/open-source-tools/swagger-ui/usage/oauth2/)

Hope this helps

[2022-08-09 02:21] jarpoole commented on #1828
Works beautifully! Thank you so much for the tip!

[2022-08-09 05:56] fityannugroho opened #2020 "Generate Swagger UI from `.json` file"
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe it

I have define my API documentation in a `.json` file using openAPI v3. Can I host it with `@nestjs/swagger`?

### Describe the solution you'd like

I think `SwaggerModule` must have a method like `setupFromJson()` that have

[2022-08-09 06:42] jmcdo29 commented on #2020
You can already pass the open API JSON to `SwaggerModule.setup()`. Just load up the json via the `fs` module or a `require ` statement and you're good to go.

[2022-08-09 07:04] #2020 closed

[2022-08-11 07:15] DanielAeon opened #2024 "Redirect Url no longer using document path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When setting up the Auth in the swagger before version 9 it use to set the redirect url to the serverURL/SwaggerPath/oauth2-redirect.htm

Now is is returning to serverURL/oauth2-redirect.htm no matter what configuration changes I put in to tell it to use the path as /swagger

### Minimum repr

[2022-08-11 07:20] kamilmysliwiec commented on #2024
Please provide a [minimum reproduction repository](https://minimum-reproduction.wtf/) (Git repository/[StackBlitz](https://stackblitz.com/fork/github/nestjs/typescript-starter)/[CodeSandbox](https://codesandbox.io/s/github/nestjs/typescript-starter/tree/master) project).

[2022-08-11 07:30] DanielAeon commented on #2024
How exactly do I do that? without paying for an Auth provider to prove my point? which would then be my private information needing to be used. What I can tell you is this worked 1 day ago, and since I upgraded it no longer works properly.

[2022-08-11 07:32] kamilmysliwiec commented on #2024
https://github.com/nestjs/swagger/issues/1828#issuecomment-1208651518

[2022-08-11 07:38] DanielAeon commented on #2024
What I can tell you is this SwaggerModule.setup('servername', app, document, {}).
Server name attribute is now longer being added to the return_uri address. before it would be /servername/static/oauth2-redirect.htm not its just putting /oauth2-redirect.htm and not adding /servername.

[2022-08-11 09:40] lucy091 opened #2025 "The type mapping utility functions are composable is wrong？？"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

The type mapping utility functions are composable is wrong？？

variable b have all the properties of EmployeeEntity.
but expect only have optional employeeName and  employeeDomain property

![image](https://user-images.githubusercontent.com/33422728/184104934-79ca2cf2-d0ed-4b72-b2a7-c0cab9561f

[2022-08-11 12:35] kamilmysliwiec commented on #2024
@flamewow would you like to look into this issue? Not sure if there were any breaking changes regarding OAuth flow

[2022-08-12 02:31] lucy091 commented on #2025
https://codesandbox.io/s/funny-stitch-pjpc1f?file=/src/test.dto.ts

![image](https://user-images.githubusercontent.com/33422728/184274177-7d8ebe74-9904-4847-8119-44b3d5b1120f.png)

[2022-08-12 03:20] hissalht opened #2027 "The @IsIn decorator option `each` is not picked up by the CLI plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When using the `@IsIn` decorator in a DTO, the `each` option is ignored.

[code]

The `favoriteColors` field is documented to be a single string instead of an array of strings.

<img width="325" alt="image" src="https://user-images.githubusercontent.com/7683740/184278588-f8f44826-ee0f-4e5a-a9

[2022-08-12 05:21] jmcdo29 commented on #2025
Add `as const` to your keys array and this works as expected. I assume it's a Typescript issue of without the `as const` Typescript just sees `string[]` so all of the keys are accepted, but when you add `as const` Typescript _knows_ what keys will be used and you get an error when trying to access any of the other keys

[2022-08-12 05:56] lucy091 commented on #2025
oh yeah!! Add as const to your keys array and this works as expected! thanks

[2022-08-12 07:05] #2025 closed

[2022-08-12 07:06] kamilmysliwiec commented on #2027
Please, use our [Discord](https://discord.gg/G7Qnnhy) channel (support) for such questions. We are using GitHub to track bugs, feature requests, and potential improvements.

[2022-08-12 07:06] #2027 closed

[2022-08-12 11:59] rghoshfinaxys commented on #2024
I'm also having this issue.
I set up my swagger with:

[code]

The authorization does go to the provider, but afterwards I'm redirected to what seems to be a static `oauth2-redirect.html` uri.

[2022-08-15 07:17] manuschillerdev opened #2029 "Write swagger.json to disk on build?"
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe it

Currently I am starting up a dev server in our pipeline to extract the swagger definition, since I need the artifact to build an API Client for my API with https://www.npmjs.com/package/openapi-typescript-codegen.

[code]

[2022-08-15 08:17] manuschillerdev commented on #2029
As a workaround we introduced an environment variable on CI, build the app, start the server and immediately exit the process after the export.
[code]

on CI (pseudo)
[code]

is there a more elegant way to to this?

[2022-08-15 10:32] flamewow commented on #2024
@DanielAeon can you please check by opening the swagger URL with a slash at the end?
e.g. your swagger URL is HTTP://localhost:3000/api-docs, try opening HTTP://localhost:3000/api-docs/ and see if you'll get different results

[2022-08-16 07:11] kamilmysliwiec commented on #2029
Please, use our [Discord](https://discord.gg/G7Qnnhy) channel (support) for such questions. We are using GitHub to track bugs, feature requests, and potential improvements.

[2022-08-16 07:11] #2029 closed

[2022-08-17 12:06] terrasoff commented on #1884
No workaround or fix yet?

[2022-08-19 09:28] Branchverse opened #2037 "Requesting nestjs/swagger implementation of swagger-ui-express customJsStr option"
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe it

Followup to original [issue](https://github.com/nestjs/swagger/issues/1881#issue-1197257342)

Issue was closed on April 11th

Swagger-ui-express added desired function on May 13th [commit](https://github.com/scottie1984/swa

[2022-08-19 12:57] MikhaelGerbet opened #2038 "Requesting nestjs/swagger implementation of WebSocketGateway"
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe it

It should be good if Nestjs Swagger can support the websocket @SubscribeMessage to make a helpfull documentation

### Describe the solution you'd like

The goal is to use ` @ApiTags('Ressource name)` to display all @Subscri

[2022-08-20 09:14] Branchverse commented on #1828
Is there a working example to this?
Can't find the effects of the code or how to debug this.

What is the expected behaviour?

[2022-08-22 08:00] flamewow commented on #2038
@MikhaelGerbet openAPI (swagger) is built for HTTP, if you need to document event-based system I'd recommend taking a look at https://github.com/flamewow/nestjs-asyncapi

[2022-08-22 08:11] flamewow commented on #2037
Would you like to submit the PR?

side note: in swagger-ui-express those param names are kind of messed up
[code]
I'd rather:
rename customJs -> customJsUrl
rename customJsStr -> customJs
keep customCssUrl & customCss, but that's kind of a breaking change.
WDYT @kamilmysliwiec

[2022-08-23 16:46] DaleCooper3 opened #2042 "Swagger CLI Plugin -- ArrayMinSize/ArrayMaxSize"
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe it

classValidatorShim does not appear to recognize ArrayMinSize and ArrayMaxSize class validator decorators. When using the Swagger plugin, we still have to use @ApiProperty({minItems:x}) when enforcing Array sizes.

### Descr

[2022-08-24 07:36] kamilmysliwiec commented on #2038
Please search through some of our old issues on this (this has been discussed several times in the past).

[2022-08-24 07:36] #2038 closed

[2022-08-24 07:37] kamilmysliwiec commented on #2037
Yeah, it's indeed not ideal @flamewow. We can't introduce a breaking change without releasing another major version though. Let's track this here https://github.com/nestjs/swagger/pull/2039

[2022-08-24 07:37] #2037 closed

[2022-08-24 07:40] kamilmysliwiec commented on #2042
That's correct.

We currently don't plan to support these decorators.

Please search through some of our old issues on this (this has been discussed several times in the past).

[2022-08-24 07:40] #2042 closed

[2022-08-24 11:58] greenking19 opened #2043 "Write according to the example of the official website, run error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

This is an example of the official website

`reults` in `PaginatedDto` are not used `@ApiProperty()`
[code]

Prompts when running:
[code]
I tried to fix it and found that as long as the `results` used `@ApiProperty()` would not be reported
👇 👇code:
[code]
Why is that?

### Minimum reproductio

[2022-08-24 13:21] kamilmysliwiec commented on #2043
Please, use our [Discord](https://discord.gg/G7Qnnhy) channel (support) for such questions. We are using GitHub to track bugs, feature requests, and potential improvements.

[2022-08-24 13:21] #2043 closed

[2022-08-25 10:14] bhrigushr opened #2048 "Swagger JSON do not have requestBody in case of versioned API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When versioning is enabled in Nestjs then Swagger JSON generated for one of the versioned routes does have `requestBody` but other one has this property.

Definition of route with `requestBody`

[code]
Definition of route without `requestBody`
[code]
**Both routes should have requestBody pres

[2022-08-25 10:21] bhrigushr commented on #2048
Similar issue https://github.com/nestjs/swagger/issues/1946

[2022-08-25 10:21] #2048 closed

[2022-08-29 11:18] tsimbalar opened #2056 "Properties declared throught "constructor shorthand" do not appear in Swagger UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When using the `@nestjs/swagger` plugin, with classes that use "constructor shorthand" (i.e. properties declared inline with the constructor cf https://dev.to/satansdeer/typescript-constructor-shorthand-3ibd ), in the generated OpenAPI doc, properties declared in constructor are missing.

###

[2022-08-29 23:01] mrshaq commented on #1563
Having the same issue

[2022-08-30 05:46] RoadToML opened #2059 "an Include Endpoint instead of Exclude Endpoint approach for building API clients."
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe it

Currently if you have a large codebase with several 100s of API endpoints and routes spanning multiple controllers, we need to apply a `@ApiExcludeController` and `@ApiExcludeEndpoint` to each that you don't need.

### Desc

[2022-08-30 06:46] kamilmysliwiec commented on #2059
Thanks for your suggestion!

This has been discussed in the past and we decided to not implement it in the foreseeable future.

If you think your request could live outside Nest's scope, we'd encourage you to collaborate with the [community](https://discord.gg/G7Qnnhy) on publishing it as an open source package.

[2022-08-30 06:46] #2059 closed

[2022-08-31 00:03] cleitinif commented on #1682
+1

[2022-08-31 03:45] Xoto1162 opened #2061 "OpenAPI CLI plugin does not add the response decorator to the endpoints with proper statut and type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Hi, I started a new project with NestJS 9 and I have a problem with the generation of the swagger. I am using the CLI plugin to generate automatically the spec but it seems that the plugin doesn´t add the response decorator with the type

I created a simple example to show the problem :

[cod

[2022-08-31 06:43] kamilmysliwiec commented on #2061
Please, use our [Discord](https://discord.gg/G7Qnnhy) channel (support) for such questions. We are using GitHub to track bugs, feature requests, and potential improvements.

[2022-08-31 06:43] #2061 closed

[2022-08-31 12:51] ac-tiffi opened #2064 "SwaggerCustomOptions.swaggerOptions.oauth -> SwaggerCustomOptions.swaggerOptions.initOAuth"
### Did you read the migration guide?

- [X] I have read the whole migration guide

### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Potential Commit/PR that introduced the regression

maybe #1886 not sure though

### Versions

5.2.1 -> 6.1.0

### Describe the regression

After the upgrade my authentication did not work anymore.
After s

[2022-08-31 22:20] Xoto1162 opened #2065 "Some feature of swagger plugin are not working anymore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Some functionnality of the swagger plugin are not working. I already opened an issue but it was closed and you said to post on Discord. After my post on Discord it seems that we are several people to encouter this issue.

My project is a brand new project generated with Nest CLI 9.1.1. I also

[2022-08-31 22:25] jmcdo29 commented on #2065
Looks like this is an artifact of the fact that Typescript 4.8.0 changed the AST, and so the plugin isn't quite reading the same as it used to. If you install `typescript@~4.7` you get the same behavior as you used to.

Typescript **does not** follow semver, and often makes breaking changes on "minor" updates, so this isn't too surprising, but it is incredibly annoying

[2022-08-31 22:52] DaleCooper3 commented on #1979
Out of curiosity, in the case of an example like @Matches(/[a-zA-Z0-9]*/), can you not just treat this like @Matches('[a-zA-Z0-9]*')?

It doesn't crash either way, but the Swagger document that gets generated with the first option is invalid/weird. (It just has pattern: {})

[2022-08-31 23:24] Xoto1162 commented on #2065
Thank you very much it is working with downgrading typescript to 4.7.x

Will you do something to support Typescript 4.8 ?

[2022-09-01 09:20] kamilmysliwiec commented on #2065
Fixed in this PR https://github.com/nestjs/swagger/pull/2067

[2022-09-01 09:20] #2065 closed

[2022-09-01 20:06] mrshaq commented on #1563
I managed to fix this issue by adding @agravelot's custom script in package.json and forcing it to run after nest build script like so.

[code]

[2022-09-02 05:53] rubiin commented on #1563
Thats okay for local development but annoying on CI/CD

[2022-09-02 08:42] marcinjahn commented on #780
I can't get it to work, even with @iambpn' suggested solution. Here's my endpoint:

[code]

I'd like `CatInput` to be properly rendered in Swagger It contains an array of objects called `infos`:

[code]
I'm using the nest swagger plugin.
Here're some of the options I tried:

1. No decorators added

[code]

![image](https://user-images.githubusercontent.com/10273406/188099699-2e6c04fd-a0c9-4ba1-92d

[2022-09-05 04:20] cmygray commented on #1067
This still happens using `@IsIn` with `@ApiProperty`.
Despite `@ApiProperty`, `@IsIn` generates property with enum.

reproduction:
[code]

expected:
[code]

actual:

[code]

Which PR closed this? @kamilmysliwiec

[2022-09-06 18:28] Rosnaldo opened #2072 "swagger is not generating curl url with correct utf8 characters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I make a Get HTTP Request with an email param it generates like this:
`http://localhost:3000/v1/andreytsuzuki%40gmail.com`
And it should be like this:
`http://localhost:3000/v1/andreytsuzuki@gmail.com`

It is replacing `@` by `%40`

### Minimum reproduction code

https://github.com/Rosna

[2022-09-07 06:29] kamilmysliwiec commented on #2072
Please, use our [Discord](https://discord.gg/G7Qnnhy) channel (support) for such questions. We are using GitHub to track bugs, feature requests, and potential improvements.

[2022-09-07 06:29] #2072 closed

[2022-09-08 18:14] ediano commented on #1210
The solution that solved my problem was to add the plugin to the `nest-cli.json` file.

[code]

[2022-09-09 07:04] rubiin commented on #1563
Any fixes so far. Having problem still

[2022-09-11 07:27] KillWolfVlad opened #2076 "[discussion]: Allow import DTOs from packages"
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

My previous issues https://github.com/nestjs/swagger/pull/1553 and https://github.com/nestjs/swagger/issues/1620 was closed, but I think that this is a misunderstanding and together we can resolve this problem.

### Is your feature request related to a problem? Please describe it

Hi! We use

[2022-09-11 11:24] vlad-ostrovski commented on #1925
I use `  @ApiProperty({
    type: () => String,
  })` as a workaround for this problem.
  If you really think about it, what is a DateTime from a HTTP point of view? there's no such thing. The endpoint expects an ISO string..

[2022-09-11 11:57] #1925 closed

[2022-09-12 06:31] kamilmysliwiec commented on #2076
Please search through some of our old issues on this (this has been discussed several times in the past).

[2022-09-12 06:31] #2076 closed

[2022-09-14 12:42] MartianH commented on #1810
Ran into the same issue. I was used to having versioning built in from different frameworks. Will this be resolved?

[2022-09-14 14:10] fr1sk opened #2084 "PickType is not behaving the same when array is passed instead of list of keys"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I have the following DTO

[code]

I want to create new DTO using `PickType` that will only have `id` and `testId`.

if I do it like this everything works as expected ✅

[code]

but if I store fields that I want to pick in array, I am getting an error that the `value` is required, even if I di

[2022-09-14 15:41] jmcdo29 commented on #2084
Add `as const` if you don't want to duplicate things. All that Typescript knows is that it could be _any_ keys of `TestDto`. If you use `as const` then it knows it's only _these_ keys which makes the compiler happy

[2022-09-14 15:41] #2084 closed

[2022-09-14 15:46] fr1sk commented on #2084
thanks for the response! I didn't manage to make it work with `as const` 🤷🏻‍♂️ can you provide a working example?

[2022-09-14 15:52] jmcdo29 commented on #2084
You'd have to get rid of the`Array<keyof TestDto>` because that is for _all_ keys, when you only need _some_ of them. This is just how Typescript works. You can still use a saved array, or use utility types and exclude/pick the fields you don't/do need.

[2022-09-16 10:44] ZeeshanAhmadKhalil commented on #1053
@tejo-ak  so did you find a way to make `@nest/swagger`  work with JS?

[2022-09-16 21:00] tobias-jueschke opened #2087 "Using type enum from third party imported npm package causes "is not defined by 'exports'""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I have a simple nestjs dto class importing an enum type from a third party npm package.

[code]

In the @company/common modul the enum is exported as follows:

[code]

running the app cause the following error:

[code]

If I change the type of the property to `string`and keep the import the a

[2022-09-19 04:17] habogay commented on #30
You use @ApiQuery, set required=false and add ? before :
@ApiQuery({ name: 'id', required: false, type: Number })
 getUserById(@Req() req: any, @Query('id') id?: number)

[2022-09-19 05:49] tobias-jueschke commented on #2087
I found out that the nestjs/swagger [cli plugin](https://docs.nestjs.com/openapi/cli-plugin) causes the problem. If I remove the plugin it works as expected.

[2022-09-19 07:57] kamilmysliwiec commented on #2087
Please provide a [minimum reproduction repository](https://minimum-reproduction.wtf/) (Git repository/[StackBlitz](https://stackblitz.com/fork/github/nestjs/typescript-starter)/[CodeSandbox](https://codesandbox.io/s/github/nestjs/typescript-starter/tree/master) project).

[2022-09-19 09:01] CGerAJ commented on #780
@ApiBody({
    isArray: true,
    type: xxxDto,
  })

[2022-09-19 09:27] tobias-jueschke commented on #2087
Here is the link to reproduction https://stackblitz.com/edit/nestjs-typescript-starter-bbgorc?file=package.json,src%2Fmain.ts,nest-cli.json,src%2Fdtos%2Fcats.dto.ts,src%2Fapp.controller.ts,src%2Fapp.service.ts

[2022-09-20 02:08] Tsugami commented on #669
It's works for me!

[2022-09-20 14:13] sleeyax commented on #1794
I was having the same issue and updating  `@nestjs/swagger` and `@nestjs/mapped-types` to the latest version solved this for me.

[2022-09-21 10:08] ghandeland commented on #2064
I spent some time trying to get it to work myself. I got it to work by moving `initOAuth` outside of `swaggerOptions`, like so:

[code]

Definitely think it would be good to both add this to the migration guide, as well as going into a bit more detail in the docs for this library as well.

[2022-09-22 10:50] sylee-twc commented on #2002
I'm stupid too.
I have the same problem.
How did you solve it?

[2022-09-22 12:10] tsteuwer-accesso commented on #2056
This happens with extending classes as well:

[code]
This produces the same result as above even though the generics are passed in and Entity is a class, not a interface.

[code]

[2022-09-22 15:31] alifakoor commented on #2002
I had a mistake in my route name

[2022-09-22 15:53] phoenix741 opened #2092 "Reduce the bundle size of @nestjs/swagger"
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe it

Hi,

I use webpack (with nest cli) to bundle the application and node_modules dependency in one js file for a lambda.

I use @nestjs/swagger to put decorators on DTO and have a specific js program that read all to generate

[2022-09-23 07:22] kamilmysliwiec commented on #2092
This is already feasible since 6.1.1 https://github.com/nestjs/swagger/commit/4aea702ef0d11571b29ddb56babb478ff036e15b

Feel free to create PRs for other tiny improvements, PRs are more than welcome!

[2022-09-23 07:22] #2092 closed

[2022-09-27 01:34] kdawgwilk commented on #1211
Looks like progress is being made on the new Swagger editor to support OpenAPI 3.1 https://github.com/swagger-api/swagger-ui/issues/5891#issuecomment-1240769951

https://swagger.io/blog/introducing-the-new-swagger-editor/

[2022-09-28 08:29] #2024 closed

[2022-09-30 03:10] brianorwhatever commented on #1450
Switching my nestjs application to an es6 module works great other than this import. I have other dependencies that require es6 so I guess I'm stuck removing this import sadly.. Any workarounds?

[2022-09-30 06:40] antongolub commented on #1450
Here is the _optimistic_ monkey patch: https://dev.to/antongolub/nestjs-esbuild-workarounds-99i

[2022-10-02 16:10] ahmedNY opened #2106 "Ability to map JS/ TS types to Swagger types"
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe it

as you know on JS data type number can hold integers or floats values , swagger supports data type number & integer,

using swagger-cli plugin to generate schema, it's will be awesome if we could set default swagger data ty

[2022-10-03 01:12] omidh14 commented on #1682
+1

[2022-10-03 07:54] kamilmysliwiec commented on #2106
Would you like to create a PR for this issue? NOTE: This isn't really related to the NestJS CLI Plugin

[2022-10-04 18:08] tatianajiselle opened #2111 "Add inheritance support for external library annotations in PartialType()"
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe it

https://github.com/nestjs/swagger/blob/491b168cbff3003191e55ee96e77e69d8c1deb66/lib/type-helpers/partial-type.helper.ts#L25 Annotations are inherited for transformer and validator but not from external libraries such as Aut

[2022-10-06 06:56] bindermuehle opened #2114 ""Error: Cannot find module" in monorepo setup when dist folder has subfolders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

when I try to build nest in my monorepo setup with the nestjs  compilerOptions plugin loaded I get following error
`
Error: Cannot find module '../../../packages/math-helpers/dist/index'`

The problem occurs when an type definition from a packaged  internal module is used and there is more th

[2022-10-08 06:13] jsw opened #2117 "Nested object properties use a boolean `required` instead of an array"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Nested object properties are using `required: true` instead of an array. I am able to generate swagger that look like this:

[code]

This is rejected by `openapi-generate`

[code]

### Minimum reproduction code

https://gist.github.com/jsw/2f0cd1e35bf3f09b22bd02d784165792

### Steps to reprod

[2022-10-10 18:12] c4ys commented on #886
This is useful for multi-modules

[2022-10-11 18:01] dan-cooke commented on #1828
Does anybody else find swagger to be just incredibly messy and have a terrible DX.

I almost always advocate for GraphQL purely because of how annoying Swagger is to configure.

[2022-10-13 13:11] Tharun-coder opened #2120 "Swagger Plugin not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

On enabling swagger plugin in nest-cli.json, fields are not displayed in swagger scheme without providing   @ApiProperty()
, but as per documentation it is mentioned @ApiProperty() is not needed ([Reference](https://docs.nestjs.com/openapi/cli-plugin))
`{
  "$schema": "https://json.schemastor

[2022-10-13 13:59] brandart commented on #780
I managed to create a working solution by using any in the method param:

[code]

now swagger displays every property from ApiRequestModel correctly.

But if I don't use `any` in the method param it will add additional params and it doesn't work anymore

[2022-10-13 15:14] jmcdo29 commented on #2120
Please provide a [minimum reproduction repository](https://minimum-reproduction.wtf/) (Git repository/[StackBlitz](https://stackblitz.com/fork/github/nestjs/typescript-starter)/[CodeSandbox](https://codesandbox.io/s/github/nestjs/typescript-starter/tree/master) project).

## [why reproductions are required](https://antfu.me/posts/why-reproductions-are-required)

[2022-10-14 04:02] Tharun-coder commented on #2120
https://github.com/Tharun-coder/nest-prisma-blog - Please check out in create-post-dto.ts file, it is not showing body field in schema. Thanks!!!

[2022-10-15 07:26] binhotvn commented on #1810
Hi, does anyone have solution for this?

[2022-10-15 08:56] jakobwgnr opened #2124 "Swagger runs locally, but not when deployed to Cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

In a cloud environment (azure), when i try to reach the swagger endpoint, white screen and an error appears in the browser log
![image](https://user-images.githubusercontent.com/18501893/195977900-f2496513-cf15-4bdf-ad39-d6dfbb6d670d.png)

When trying the same locally everything works fine...

[2022-10-15 19:43] jmcdo29 commented on #2120
Cloned, installed, ran the `build` command and checked the output in the `dist/posts/dto/create-post.dto.js` file

[code]

There's a proper `_OPENAPI_METADATA_FACTORY` that has the expected properties and their metadata.

That swagger UI also has all the properties there
![image](https://user-images.githubusercontent.com/28268680/196004993-0b5ea6ac-770d-4f32-b537-9373141eb6b1.png)

So with your re

[2022-10-15 19:43] #2120 closed

[2022-10-18 08:29] wibek commented on #1810
+1 for this issue. We really need it!

[2022-10-21 13:22] GithubUser8080 opened #2128 "DTO extension does not result in schema composition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Extending dto classes, and even using mapped types does not result in the expected OpenApi AllOf composition

Each openapi schema seems to have a copy of its own properties and the base class properties

### Workaround issues

I tried the nestjs mapped types package and encountered the follow

[2022-10-21 13:45] bvanleeuwen1995 opened #2129 "TypeScript strictNullChecks does not process DTO's with nullable fields correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When enabling strictNullCheck in typescript and setting a DTO with for example a string | null field type definition the Swagger module does not load the fields in query parameters are optional and in a response body the type is not set to string but to object.

When the variable is marked as

[2022-10-24 07:15] kamilmysliwiec commented on #2064
cc @flamewow 🤔

[2022-10-24 10:58] kamilmysliwiec commented on #2128
Please provide a [minimum reproduction repository](https://minimum-reproduction.wtf/) (Git repository/[StackBlitz](https://stackblitz.com/fork/github/nestjs/typescript-starter)/[CodeSandbox](https://codesandbox.io/s/github/nestjs/typescript-starter/tree/master) project).

[2022-10-24 12:46] GithubUser8080 commented on #2128
https://codesandbox.io/s/funny-borg-m1mzon

[2022-10-24 16:46] ArielPrevu3D commented on #2117
We are also experiencing this issue, which is preventing us to integrate with many OpenAPI-based tooling.
Current workaround is to fix the document's schemas recursively with our own code.

[2022-10-25 09:17] kamilmysliwiec commented on #2117
Would you like to create a PR for this issue?

[2022-10-25 09:19] kamilmysliwiec commented on #2128
This is the expected behavior.

Please, use our [Discord](https://discord.gg/G7Qnnhy) channel (support) for further questions. We are using GitHub to track bugs, feature requests, and potential improvements.

[2022-10-25 09:19] #2128 closed

[2022-10-25 09:21] kamilmysliwiec commented on #2114
Please, use our [Discord](https://discord.gg/G7Qnnhy) channel (support) for such questions. We are using GitHub to track bugs, feature requests, and potential improvements.

[2022-10-25 09:21] #2114 closed

[2022-10-25 09:22] kamilmysliwiec commented on #2124
Not sure but this might be related to your changes 🤔 @flamewow

[2022-10-25 09:51] flamewow commented on #2124
@jakobwgnr can you check the network tab and see if any of the requests are blocked/failed?

If it works locally, my best guess is smth related to cloud proxying/routing. In the latest version, some of the requests to access assets were changed, which might conflict with your cloud config.
If you can bring more context on that side, that would be great.

[2022-10-25 09:58] jakobwgnr commented on #2124
Hey guys! Thanks for your initial check
Cloud:
![image](https://user-images.githubusercontent.com/18501893/197742936-cbea0f44-acf0-4e28-90bb-b6fa6ab53d86.png)

local:
![image](https://user-images.githubusercontent.com/18501893/197743637-b4af3ef6-dea8-435f-918d-0efef17a3088.png)

Differences I've seen in the network tab is "documentation/" vs. "documentation" and that in "react dom" isn't loaded in

[2022-10-25 10:17] flamewow commented on #2124
@jakobwgnr response sizes are different 🤔 , are you running identical versions locally and in the cloud?

[2022-10-25 10:27] jakobwgnr commented on #2124
@flamewow
Hmm - App-versions are the same..

![image](https://user-images.githubusercontent.com/18501893/197748642-e34a257a-bbe6-43eb-924c-5db2399db781.png)

![image](https://user-images.githubusercontent.com/18501893/197748739-6f7841cc-ad16-4d5d-a551-47d1e5ad7ddf.png)

There is a difference how the sources are shown.
![image](https://user-images.githubusercontent.com/18501893/197749510-3a23c573-e

[2022-10-25 10:46] jakobwgnr commented on #2124
@flamewow @kamilmysliwiec apologies - The title here is somehow misleading...
I can reproduce the problem also locally when I don't run the dev server, but when I run the built version...

[2022-10-25 10:56] flamewow commented on #2124
If you could come up with reproduction repo, would be awesome

[2022-10-25 12:11] flamewow commented on #2064
Thanks for catching the issue, guys.
I've came up with the fix PR: https://github.com/nestjs/swagger/pull/2138

[2022-10-25 12:43] jakobwgnr commented on #2124
@flamewow thanks - a minimal repro-repo with my setup is working. Hence, I don't think this is a package issue.
Guess I need to go through my codebase once again and maybe I've already found sth.... I'll close this issue. Thank you for your help.

[2022-10-25 12:43] #2124 closed

[2022-10-26 06:28] kamilmysliwiec commented on #2064
Let's track this here https://github.com/nestjs/swagger/pull/2138

[2022-10-26 06:28] #2064 closed

[2022-10-26 09:03] #1946 closed

[2022-10-27 08:12] timoklingenhoefer opened #2143 "Incorrect Open-API definition when using @All(...) route decorator"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When using the @All(...) route decorator in a controller and then generating the `swagger.json` from that, it will result in a definition like this:

[code]

[code]

When opening this in the [Swagger Editor](https://editor.swagger.io/) it shows an error like:

should NOT have additional prope

[2022-10-31 08:16] kamilmysliwiec commented on #2143
Would you like to create a PR for this issue?

[2022-11-01 18:35] thurairaj opened #2151 "@ApiParams does not pass value to correct for validation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I'm having trouble with `@ApiParam` with class-validator. The value passed in parameter is not correct value to validated.

For example
[code]

[code]
In this case, swagger do create a field for slug and the value that I put for `slug` should be validated properly. But, when I put any value i

[2022-11-01 19:20] jmcdo29 commented on #2151
Your `@Param('slug')` should be `@Param()` so that the DTO can be properly validated and documented in swagger  with your `@ApiParam()`.

For further support please use our [Discord](https://discord.gg/nestjs) channel (Support). We are using GitHub to track Bug Reports, Feature Requests, and Regressions.

[2022-11-01 19:20] #2151 closed

[2022-11-02 05:26] Sylphide opened #2152 "Support @name for comment introspection"
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe it

When using @nestjs/swagger in combination with class-transformer, if we @Expose a property and change it's name, we have to add an @ApiProperty with the appropriate name.

### Describe the solution you'd like

Add support t

[2022-11-02 07:21] kamilmysliwiec commented on #2152
Would you like to create a PR for this issue?

[2022-11-02 08:16] Sylphide commented on #2152
I can, however, it might take a bit to familiarize myself with the code.
Could you point me to the code parsing the comment blocks?

[2022-11-02 08:28] kamilmysliwiec commented on #2143
Let's track this here https://github.com/nestjs/swagger/pull/2145

[2022-11-02 08:28] #2143 closed

[2022-11-02 11:34] bangbang93 opened #2153 ""introspectComments" always generate empty description breaks custom decorator shorthand"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

set `introspectComments: true`
in the generated js file
[code]
`ApiSummary` is my short-hand decorator for
[code]
Used to if there is no comment for route method, no `openapi.ApiOperation({ description: "" })` will be generated.

### Minimum reproduction code

https://gist.github.com/bangbang

[2022-11-02 11:39] kamilmysliwiec commented on #2153
Please, use our [Discord](https://discord.gg/G7Qnnhy) channel (support) for such questions. We are using GitHub to track bugs, feature requests, and potential improvements.

[2022-11-02 11:39] #2153 closed

[2022-11-02 16:00] corentinguilloux commented on #1596
The related PR has actually been locked for one year, anything new about it ?

[2022-11-03 10:02] Luxiorawa commented on #1794
I haven't specially encountered the problem, but i'm on the latest version for `@nestjs/swagger` and `@nestjs/mapped-types` and also using DTOs as return type for my controller and everything works fine.

Maybe we can close this issue ? Unless @alisherafat01 still encounter some problem despite upgrading package named above.

[2022-11-03 10:07] #1794 closed

[2022-11-03 10:26] andkom opened #2156 "example property is missing in header"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I specify `example` property for `@ApiHeader` decorator, it does not generate example field for header parameter in the output json.

### Minimum reproduction code

[code]

### Steps to reproduce

1. add @ApiHeader decorator with example field
2. there is no example for header in the out

[2022-11-03 11:26] kamilmysliwiec commented on #2156
Please, use our [Discord](https://discord.gg/G7Qnnhy) channel (support) for such questions. We are using GitHub to track bugs, feature requests, and potential improvements.

[2022-11-03 11:26] #2156 closed

[2022-11-04 11:33] ghost opened #2157 "Swagger issue with lambda usage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I trigger my lambda via API GATEWAY, I receive 404 for swagger.css, ... Nothing was changed in my code, only updated the package version! After the downgrade to version 8.1.2 everything works as expected!
![Screenshot from 2022-11-04 13-27-58](https://user-images.githubusercontent.com/61

[2022-11-04 15:11] CodyTseng opened #2158 "Support setting global Header"
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe it

I am writing a multi-tenant application. This program distinguishes different tenants by the `x-tenant-id` in the request `Header`. So I need to set Header to all API.

BTW, I solved it now with `DocumentBuilder()addSecurit

[2022-11-04 15:12] xDivisionByZerox commented on #1884
I use this workaround for numeric enums:

<details>
<summary>Workaround Source</summary>

[code]
</details>

<details>
<summary>Usage example</summary>

[code]

If `MyController` is now passed into a module that is correctly set up in a nest factory (including Swagger), you will get a numeric enum component schema in your Swagger UI.

![image](https://user-images.githubusercontent.com/77127505/200

[2022-11-05 04:44] jsw commented on #2117
@ArielPrevu3D Could your workaround code be used to start a PR?

[2022-11-05 22:05] Luku1806 opened #2161 "Accept multiple Javascript and CSS imports"
### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe it

For integrating a Swagger plugin I need to be able to include external Javascript.
This works for exactly one because the SwaggerCustomOptions accept exactly one URL for external Javascript via the customJs property.
If I w

[2022-11-05 23:01] micalevisk commented on #2129
an workaround: define the type explicitly like this:
`@ApiPropertyOptional({ type: String, nullable: true })`

[2022-11-07 00:18] micalevisk commented on #1563
@rubiin please share the steps to reproduce this using your repo https://github.com/rubiin/nest-swagger-bug `npm i && npm start` went fine so far 🤔

[2022-11-07 06:11] rubiin commented on #1563
Did you run mongodb instance locally? Without that the orm wont bootup
You can see here the logs https://imgur.com/a/K7VbNCL

[2022-11-07 07:33] kamilmysliwiec commented on #2161
Let's track this here https://github.com/nestjs/swagger/pull/2162

[2022-11-07 07:33] #2161 closed

[2022-11-07 07:34] kamilmysliwiec commented on #2157
Please provide a [minimum reproduction repository](https://minimum-reproduction.wtf/) (Git repository/[StackBlitz](https://stackblitz.com/fork/github/nestjs/typescript-starter)/[CodeSandbox](https://codesandbox.io/s/github/nestjs/typescript-starter/tree/master) project).

[2022-11-07 07:35] kamilmysliwiec commented on #2158
Would you like to create a PR for this issue?

[2022-11-07 15:30] CodyTseng commented on #2158
Sure, but I need some time to get familiar with the code.

And I just learned that using `addSecurity()` can't add security to all API XD. Now I solve this problem by defining a `@MyController` decorator like this 😂:

[code]

I'll add `DocumentBuilder().globalParameter()` function to set `DECORATORS.GLOBAL_API_PARAMETERS` metadata. And modify the `explorers/api-parameters.explorer.ts #exploreApiPa

[2022-11-07 15:52] ArielPrevu3D commented on #2117
No, I just fix the result after the compiler plugin and the swagger module generates the OpenAPI document. Here's the ugly code:

[code]

[2022-11-08 16:16] codybreene commented on #2117
This is happening for us too -- any idea when this bug was introduced so we can revert to the last package that did not have it?

[2022-11-08 22:04] dmiranda2791 commented on #1682
+1

[2022-11-09 10:44] khmm12 opened #2169 "Type helpers loose class-validator/class-transformer metadata in Yarn PnP environments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

`@nestjs/swagger` uses `@nestjs/mapped-types` which uses `class-validator` and `class-transformer` (if they're present) to inherit validation/transformer metadata.

1. `@nestjs/swagger` brings `@nestjs/mapped-types` as dependency.
2. `@nestjs/mapped-types` requires `class-validator` and `clas

[2022-11-09 10:50] kamilmysliwiec commented on #2169
Not sure if I'm following. `@nestjs/mapped-types` is currently flag as _dependency_ so specifying it as a peer dependency doesn't make much sense

[2022-11-09 10:59] khmm12 commented on #2169
You're right. Instead of dependency. Updated the issue.

[2022-11-09 11:50] kamilmysliwiec commented on #2169
Why should we flag it as a peer dependency if it is a **dependency**?

[2022-11-09 13:15] khmm12 commented on #2169
@kamilmysliwiec

On the one hand yes, but it the same it's weird when a package depends on another package, but neither satisfies its requirements nor asks a parent package to do that. Debugging such things is a nightmare.

`class-validator` and `class-transformer` should be singletons in an app (or share a singleton to store metadata). `@nestjs/mapped-types` asks a parent package to provide them.

[2022-11-09 13:22] kamilmysliwiec commented on #2169
I share your POV

IMHO It doesn't make sense.

So my POV here is that the package manager should automatically detect that inner dependency has peer dependencies and instruct the end-user (developer building an application) to install them. `@nestjs/swagger` doesn't explicitly reference `class-validator` or `class-transformer` so I don't see any reason why those packages should be flagged as peer

[2022-11-10 07:35] kamilmysliwiec commented on #2169
You don't need to flag a dependency as a peer dependency for this. As long as versions match, NPM will dedupe your node_modules (I think Yarn v1 does that too as long as version ranges match) and make sure you only use 1 instance of webpack in your project, even if it's flagged as a "dependency" (not a peer dependency). If you need more flexibility and want your dependency to always behave as an a

[2022-11-10 11:23] khmm12 commented on #2169
@kamilmysliwiec

Seems not, [the discussion](https://github.com/yarnpkg/berry/issues/3#issuecomment-872535638) is about a case when A depends on B that has a peer dependency C, but **A doesn't directly uses C**. A doesn't implicitly inherit transitive peer dependencies.

https://github.com/yarnpkg/berry/issues/3#issuecomment-872535638

<details>
<summary>off topic</summary>

It literally sounds "i

[2022-11-10 11:38] arcanis commented on #2169
I wrote an article about this a couple of years ago: [Implicit Transitive Peer Dependencies](https://dev.to/arcanis/implicit-transitive-peer-dependencies-ed0)

The gist is that while this kind of thing is easy to do when accepting the risk of "ghost dependencies", it turns out it's very (very) difficult to support while validating dependency accesses. There's a cyclic dependency in the graph gener

[2022-11-10 11:47] kamilmysliwiec commented on #2169
Thanks for chiming in & clarifying @arcanis, and for a thorough discussion @khmm12. Appreciate your time!

Since it doesn't hurt to explicitly add the inner package's peer dependencies, let's just add them in to be compatible with Yarn PnP. Would you like to create a PR @khmm12? Let me know if you're busy and if so I'll take care of this myself!

[2022-11-10 11:54] khmm12 commented on #2169
@kamilmysliwiec I'll create PRs for @nestjs/swagger and @nestjs/graphql 👍

[2022-11-11 19:32] JoshApplauso commented on #225
Try passing a `SchemaObject `instead of `ReferenceObject`
[code]
![imagen](https://user-images.githubusercontent.com/102260807/201416289-1fceacd5-01da-4856-b6a1-aa363fecfd35.png)

[2022-11-23 19:12] mrsolarius opened #2179 "Array of enums not working as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Adding an array of enums with the ApiQuery does not seem to work correctly. For example, given the following enum:
[code]
I want to use this with a model property as follows:
[code]

This does not render as a multi select in swagger UI like you can see here :
![image](https://user-images.gith

[2022-11-28 12:45] sergy-gzh opened #2180 "Swagger UI is giving an error for schema with discriminator when mapping is specified."
### Did you read the migration guide?

- [X] I have read the whole migration guide

### Is there an existing issue that is already proposing this?

- [X] I have searched the existing issues

### Potential Commit/PR that introduced the regression

_No response_

### Versions

6.1.2 -> 6.1.3

### Describe the regression

After updating @nestjs/swagger package to `6.1.3`.
All API's containing discrim

[2022-11-28 14:37] sergy-gzh commented on #2180
It looks like this issue is coming from `swagger-ui-dist` package.
We managed to fix this issue by forcing `swagger-ui-dist` update to version `4.15.5` (instead of `4.15.1`  that is pinned by nestjs/swagger)

[2022-11-28 15:05] sergy-gzh commented on #2180
This issue would likely be solved with this update
https://github.com/nestjs/swagger/pull/2141